// Form elements and buttons
.form {
  position: relative;
  margin-bottom: .8rem;
  &__legend {
    font-style: italic;
    color: $secondary;
    position: absolute;
    overflow: hidden;
    right: 0;
    clip: rect(0 0 0 0);
  }
}

form {
  margin-left: 0;
  margin-right: 0;
  margin-top: 0;
  padding-bottom: 0;
  padding-left: 0;
  padding-right: 0;
  padding-top: 0;
  margin-bottom: 1rem;
}

//label {
//  @include baseline($fontsize: zeta, $font: $bodytype, $lineheight: 2, $below: 2, $breakpoint: all);
//}

input[type="text"],
input[type="email"],
input[type="search"],
input[type="submit"],
input[type="color"],
textarea {
  padding: .6rem 1.2rem;
  margin-bottom: .6rem;
  transition: color .1s, background-color .1s, border .1s;
  line-height: inherit;
  border: none;
  box-shadow: none;
  border-radius: 0;
  -webkit-appearance: none;
  .icon {
    margin: 0 0 .35rem;
  }
}

input[type="text"],
input[type="email"],
input[type="search"],
input[type="color"],
textarea {
  width: 100%;
  border: 1px solid $secondary;
  &:hover {
    border-color: $primary;
  }
}

::-webkit-input-placeholder {
  opacity: 0.5;
}

:-ms-input-placeholder {
  opacity: 0.5;
}

input,
textarea {
  font: inherit;
  margin: 0;
}

input {
  overflow: visible;
}

textarea {
  overflow: auto;
}

::-webkit-input-placeholder {
  color: inherit;
  opacity: 0.54;
}

textarea {
    resize: vertical;
}
