---
layout: default
bodyClass: page-services-list
---

<div class="intro">
  <div class="container">
    <div class="row justify-content-start">
      <div class="col-12 col-md-7 col-lg-6 order-2 order-md-1">
        {{ content }}
      </div>
      {% if page.intro_image %}
      <div class="col-12 col-md-5 col-lg-6 order-1 order-md-2 position-relative">
        <img alt={{ page.title }} class="intro-image{% if page.intro_image_absolute %} intro-image-absolute{% endif %}{% if page.intro_image_hide_on_mobile %} intro-image-hide-mobile{% endif %}" src="{{ page.intro_image | relative_url }}" />
      </div>
      {% endif %}
    </div>
  </div>
</div>

<div class="container pt-6 pb-6">
  <div class="row">
    {% for post in paginator.posts %}
    <div class="col-12 mb-3">
      <div class="service service-summary">
        <div class="service-content">
          <h2 class="service-title">
            <a href="{{site.baseurl}}{{ post.url }}">{{ post.title }}</a>
          </h2>
          <p>{{ post.date | date: "%B %d, %Y" }}</p>
          <p>{{ post.content | markdownify | strip_html | truncate: 120 }}</p>
        </div>
      </div>
    </div>
    {% endfor %}
  </div>
</div>

<!-- 
  Showing buttons to move to the next and to the previous list of posts (pager buttons).
-->
{% if paginator.total_pages > 1 %}
<div class="row justify-content-center">
  {% if paginator.previous_page %}
  <div class="col-auto">
    <a class="button button-primary" href="{{ paginator.previous_page_path | prepend: site.baseurl | replace: '//', '/' }}">&larr; Newer Posts</a>
  </div>
  {% endif %}
  {% if paginator.next_page %}
  <div class="col-auto">
    <a class="button button-primary" href="{{ paginator.next_page_path | prepend: site.baseurl | replace: '//', '/' }}">Older Posts &rarr;</a>
  </div>
  {% endif %}
</dkv>
{% endif %}

