---
layout: default
---

<div class="container pb-6 pt-6 pt-md-10 pb-md-10">
  <div class="row justify-content-start">
    <div class="col-12 col-md-8">
      <div class="service service-single">
        <h1 class="title">{{page.title}}</h1>
        <div class="content">{{content}}</div>
        <div class="content">
          <h3>Want to learn more?</h3>
          <p>Fill out our <a href="{{site.baseurl}}/contact/">Contact Form</a>, or do some more research at <a href="https://ourcompose.com">OurCompose.com</a></p>
        </div>
      </div>
    </div>
  </div>
</div>
